.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #004740; /* Your brand color */
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a,
.nav-links button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.nav-links button {
  border: none;
  background: #e53935;
  padding: 6px 14px;
  border-radius: 5px;
}

.nav-links button:hover {
  background: #ba2d2b;
}
