/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  background-color: #f4f6fb;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
